{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="container-fluid">
    <div class="row">
        <div class="col-md-4 bg-color-personal-info section-column info-column">
            <div class="row">
                <div class="col-12">
                    <h3 class="about-heading uppercase">
                        Company Info
                    </h3>
                </div>
            </div>
            <div class="personal-info-item">
                <div class="key">
                    <p class="uppercase">
                        Name:
                    </p>
                </div>
                <div class="value">
                    <p>
                        FootBrazil
                    </p>
                </div>
            </div>
            <div class="personal-info-item">
                <div class="key">
                    <p class="uppercase">
                        Address:
                    </p>
                </div>
                <div class="value">
                    <p>
                        60 Queens Road, London, NW95 6RP
                    </p>
                </div>
            </div>
            <div class="personal-info-item">
                <div class="key">
                    <p class="uppercase">
                        Phone:
                    </p>
                </div>
                <div class="value">
                    <p>
                        + 44 (0) 21 8951 2030
                    </p>
                </div>
            </div>
            <div class="personal-info-item">
                <div class="key">
                    <p class="uppercase">
                        Email:
                    </p>
                </div>
                <div class="value">
                    <p>
                        info@footbrazil.com
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8 bg-color-three-reasons section-column">
            <div class="row">
                <div class="col">
                    <h3 class="about-heading uppercase">About Us</h3>
                </div>
            </div>
            <div class="row full-post-text">
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="three-reasons-icon fa fa-question" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">Who are we?</h4>
                            <p>
                                We are football journalists, enthusiasts who follow the performances of the Brazilian
                                national football team.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="fa-solid fa-wrench" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">What we do?</h4>
                            <p>
                                We tell football fans about the performances of the Brazilian national team at the World
                                Championships.</p>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="fa-regular fa-lightbulb" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">Any ideas?</h4>
                            <p>
                                If you are a big fan of Brazilian football and want to contribute to the development of
                                our project you can write to us your ideas for the development of our project by email
                                ideas@footbrazil.com.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- index.html content ends here -->


{% endblock %}