{% extends "base.html" %}

{% load static %}

{% block content %}

    <section class="container-fluid">
        <div class="row">
            <div class="col-md-4 bg-color-work-history section-column">
                <div class="row">
                    <div class="col-12">
                        <h3 class="history-heading uppercase">
                            Statistics at the World Cups 
                        </h3>
                    </div>
                </div>
                <div class="history-items">
                    <img src="https://res.cloudinary.com/dfy0one9z/image/upload/v1716406449/world-cup-logo-300px_asklsm.png" alt="World Cup">
                    <div class="timeline-item" data-dates="World Cup 1930">
                        <h4>Brazil 4 : 0 Bolivia</h4>
                        <p>6:th place</p>
                    </div>
                    <div class="timeline-item" data-dates="World Cup 1934">
                        <h4>Brazil 1 : 3 Spain</h4>
                        <p>14:th place</p>
                    </div>
                    <div class="timeline-item" data-dates="World Cup 1938">
                        <h4>Brazil 4 : 2 Sweden</h4>
                        <p>3:rd place 🥉</p>
                    </div>
                    <div class="timeline-item" data-dates="World Cup 1950">
                        <h4>Brazil 1 : 2 Uruguay</h4>
                        <p>2:nd place</p>
                    </div>
                    <div class="timeline-item" data-dates="World Cup 1954">
                        <h4>Brazil 2 : 4 Hungary</h4>
                        <p>6:th place</p>
                    </div>
                    <div class="timeline-item champion" data-dates="World Cup 1958">
                        <h4>Brazil 5 : 2 Sweden</h4>
                        <p>Champion 🏅</p>
                    </div>
                    <div class="timeline-item champion" data-dates="World Cup 1962">
                        <h4>Brazil 3 : 1 Czechoslovakia</h4>
                        <p>Champion 🏅</p>
                    </div>
                    <div class="timeline-item" data-dates="World Cup 1966">
                        <h4>Brazil 1 : 3 Portugal</h4>
                        <p>11:th place</p>
                    </div>
                    <div class="timeline-item champion" data-dates="World Cup 1970">
                        <h4>Brazil 4 : 1 Italy</h4> 
                        <p>Champion 🏅</p>
                    </div>
                    <div class="timeline-item" data-dates="World Cup 1974">
                        <h4>Brazil 0 : 1 Poland</h4>
                        <p>4:th place</p>
                    </div>
                    <div class="timeline-item" data-dates="World Cup 1978">
                        <h4>Brazil 2 : 1 Italy</h4>
                        <p>3:rd place 🥉</p>
                    </div>
                    <div class="timeline-item" data-dates="World Cup 1982">
                        <h4>Brazil 2 : 3 Italy</h4>
                        <p>5:th place</p>
                    </div>
                    <div class="timeline-item" data-dates="World Cup 1986">
                        <h4>Brazil 1 : 1 France (3 : 4, penalties)</h4>
                        <p>5:th place</p>
                    </div>
                    <div class="timeline-item" data-dates="World Cup 1990">
                        <h4>Brazil 0 : 1 Argentina</h4>
                        <p>9:th place</p>
                    </div>
                    <div class="timeline-item champion" data-dates="World Cup 1994">
                        <h4>Brazil 0 : 0 Italy (3 : 2, penalties)</h4>
                        <p>Champion 🏅</p>
                    </div>
                    <div class="timeline-item" data-dates="World Cup 1998">
                        <h4>Brazil 0 : 3 France</h4>
                        <p>2:nd place 🥈</p>
                    </div>
                    <div class="timeline-item champion" data-dates="World Cup 2002">
                        <h4>Brazil 2 : 0 Germany</h4>
                        <p>Champion 🏅</p>
                    </div>
                    <div class="timeline-item" data-dates="World Cup 2006">
                        <h4>Brazil 0 : 1 France</h4>
                        <p>5:th place</p>
                    </div>
                    <div class="timeline-item" data-dates="World Cup 2010">
                        <h4>Brazil 1 : 2 Netherlands</h4>
                        <p>6:th place</p>
                    </div>
                    <div class="timeline-item" data-dates="World Cup 2014">
                        <h4>Brazil 0 : 3 Netherlands</h4>
                        <p>4:th place</p>
                    </div>
                    <div class="timeline-item" data-dates="World Cup 2018">
                        <h4>Brazil 1 : 2 Belgium</h4>
                        <p>5:th place</p>
                    </div>
                    <div class="timeline-item" data-dates="World Cup 2022">
                        <h4>Brazil 1 : 1 Croatia (2 : 4, penalties)</h4>
                        <p>5:th place</p>
                    </div>
                </div>
                <!-- Progress -->
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;">
                        <span class="sr-only">100% complete</span>
                    </div>
                    <span class="progress-type">Became champions: 5 times</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;">
                        <span class="sr-only">100% complete</span>
                    </div>
                    <span class="progress-type">Top-10 teams: 20 times</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;">
                        <span class="sr-only">100% complete</span>
                    </div>
                    <span class="progress-type">Top-5 teams: 16 times</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;">
                        <span class="sr-only">100% complete</span>
                    </div>
                    <span class="progress-type">Didn't qualify from the group stage: 3 times</span>
                </div>
            </div>
            <div class="col-md-8 bg-color-three-reasons section-column">
                <div class="row">
                    <div class="col">
                        <h3 class="section-heading uppercase">History</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="three-reasons-icon fa fa-tv" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="three-reasons-heading uppercase">Background</h4>
                                <p>
                                The Brazilian national team played its first match, which had the status of a friendly, in 1914 against the English club Exeter City, winning it with a score of 2:0 (according to other sources, the match ended in a draw 3:3). However, more serious victories on the world stage were still far away. This was largely hampered by confusion among the leaders of local football federations within the country.
                                <img src="/static/images/brazil-1930.jpeg" alt="brazil 1930" class="history-image">
                                </p>

                                <p>
                                Be that as it may, in the championships of 1930 and 1934, the Brazilians dropped out of the tournaments after the first stage. In 1938, the team showed significant progress and confidently won bronze medals. And Leonidas da Silva went down in history as the first player to score four goals in one of the World Cup matches.
                                </p>
                                <p>
                                The first post-war World Cup in 1950 was so far the only one to be held in Brazil. In addition, it was unique in that it did not host a final match, but the top four teams from the group tournaments played in the final group tournament. However, the match between Brazil and Uruguay is considered to be a “final”. The match, held at the Maracanã stadium in Rio de Janeiro, was watched by 199,854 fans. 
                                <br>
                                <img src="/static/images/brazil-1950.jpeg" alt="brazil 1950" class="history-image">
                                In the decisive match, based on the tournament situation, the Brazilians only had to play a draw to become champions. But, leading the score during the match - 1:0, they still lost it - 1:2. This match was called “Maracanazo”.
                                </p>
                                <p>
                                    In 1954, a renewed team with a group of good players came to the championship held in Switzerland. However, in the quarterfinals, the Brazilians lost to the championship favorite, the Hungarians, with a score of 2:4, having played one of the most terrible matches in their history. This match was called “The Battle of Bern”.
                                </p>
                                <p>
                                    In 1958, at the championship in Sweden, the Brazilian team unexpectedly became the world champion in brilliant style. The team featured such players as Pele, Garrincha, Vava and many others who went down in the history of world football. The discovery of this championship was seventeen-year-old Pele, who is still considered the King of Football of all times.
                                <img src="/static/images/brazil-1962.jpg" alt="brazil 1960" class="history-image">
                                </p>

                                <p>
                                    In 1962, in Chile, the Brazilians were able to repeat their success. The top scorer of the championship was Garrincha, who scored four goals. His partner, Pele, dropped out of the championship after a serious injury received in one of the first matches of the group tournament.
                                </p>
                                <p>
                                    At the World Cup in England in 1966, the Selecao faced a huge failure. The Brazilians were no match for the Hungarians and Portuguese, in whose ranks the magnificent Eusebio played. The Brazilian national team was unable to overcome the group stage and dropped out of the tournament, which was regarded as nothing less than a national disaster. A number of players were forced to stay in Europe for some time, waiting out the turbulent situation at home. However, already at the next World Cup in Mexico, the Brazilians, in whom Pele again shone, showed the highest class football and won all the championship matches. In the final, Brazil defeated the Italian team with a score of 4:1. After the Selecao managed to become world champions three times in a short time, a long streak of failure began.
                                <img src="/static/images/pele-1970.jpg" alt="pele 1970" class="history-image">
                                </p>

                                <p>
                                    World Cup 1974 in Germany - Brazil fielded one of the weakest squads in its history and took only fourth place. Everyone was looking forward to how the Brazilians would play without Pele. The Seleção not only failed to win their two opening matches against Yugoslavia and Scotland, but did not even score a single goal.
                                    Upon returning to Brazil, a storm of indignation hit the team, including threats. And Mario Zagalo was blamed for all the team's failures. 
                                    World Cup 1978 in Argentina - the Celecao lost on goal difference to the hosts of the tournament, the Argentines, in the match for reaching the final. Disappointed Brazilians accused the goalkeeper of the Peruvian national team, an Argentine by birth, of deliberately playing poorly (the match between the national teams of Argentina and Peru ended with a score of 6:0, which brought the Albiceleste to the final).
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="fa-regular fa-star fa-lg"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="three-reasons-heading uppercase">Triumphant period</h4>
                                <p>
                                    World Cup 1982 in Spain - the Brazilian squad was considered invincible. However, there followed an unexpected defeat from the Italian national team with a score of 2:3 and elimination from the tournament. The Italians eventually became world champions. World Cup 1986 in Mexico - this time defeated in a penalty shootout by the French team. One of the Brazilians' penalty kicks was missed by Zico, nicknamed "White Pele".
                                <img src="/static/images/zico-1982.jpg" alt="zico 1982" class="history-image">
                                </p>
                                <p>
                                    World Cup 1990 in Italy - a terrible defeat in the 1/8 finals against the Argentines. The Brazilians showed good attacking football throughout the game, storming the opponent's goal over and over again, but were unable to open them. In the last minutes of the match, Claudio Caniggia scored the decisive goal after a counterattack. 1:0 - in favor of Argentina.
                                </p>
                                <p>
                                    The World Cup in the USA in 1994, 24 years after its last victory, was won again by the Brazilian team. After a difficult final against the Italian national team, the main and extra time of which ended in a goalless draw, the Brazilians were able to win in a penalty shootout with a score of 3:2. Among the champions, Romario, Bebeto, Taffarel, Dunga (team captain in the final match, who received the captain's armband from Rai, who did not play in that match), Cafu, Branco, especially stood out.
                                <img src="/static/images/romario-1994.jpeg" alt="romario 1994" class="history-image">
                                </p>
                                <p>
                                    World Cup in France 1998. The famous Ronaldo is part of the Seleçao team. Brazil again reached the final, but was defeated by the hosts of the tournament, the French team, with a score of 0:3. This is the biggest defeat at the World Championships for the Brazilians. The two goals that marked the beginning of the rout were scored by the leader of the French national team, Zinedine Zidane, after corner kicks.
                                </p>
                                <p>
                                    Ronaldo hardly received the ball and was much more passive than in previous games. He ruined his only chance in the second half with the score 0:2. Brazil's agony lasted almost an hour, but all it managed to do was test the strength of Barthez's goal crossbar through the efforts of the restless Denilson. 
                                <img src="/static/images/ronaldo-1998.jpg" alt="ronaldo 1998" class="history-image">
                                </p>
                                <p>
                                    Even the fact that the French played in the minority for the last 20 minutes after Desailly was sent off did not help the Brazilians. Petit's last minute goal put the final nail in the coffin. Brazil went home having suffered a major defeat in the final - the first in the history of their participation in the World Cup. 
                                
                                </p>
                                <p>
                                    In 2002, for the first time in the history of the World Cup, FIFA trusted two countries to host the final part - Japan and South Korea. The Brazilian national team, showing an excellent performance, reached the final of the world championship for the third time in a row. 
                                    <img src="/static/images/champions-2002.jpg" alt="champions 2002" class="history-image">

                                </p>  
                                    
                                <p> 
                                In the final, the Brazilians, also for the first time in the history of the final tournaments of the World Championships, met their main absentee competitor - the German national team and beat them with a score of 2:0.
                                    The top scorer of the championship was Ronaldo, who scored eight goals against the opponents. A number of top-class masters played as part of the pentacampeons, such as Ronaldinho, Roberto Carlos, Kaka, Rivaldo, Cafu, Lucio and others. 
                                </p>
                                                               
                            </div>
                        </div>
                    </div>
                </div>
                
        
    </section>
<!-- index.html content ends here -->
{% endblock %}