{% extends 'base.html' %}
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 mt-2 mx-auto text-center">
                <div class="darkg-bg">
                    <h1>Error 404: Page Not Found!</h1>
                    <p>We couldn't find what you were looking for. Unfortunately the page you were looking for could not be found. It may be temporarily unavailable, moved or no longer exist.
                        Please, go back to <a href="{% url 'home' %}">homepage</a>.
                    </p>
                <div class="error-image">
                    <img src="https://res.cloudinary.com/dfy0one9z/image/upload/v1716315936/brazil-error-image-404_fe77eh.png" alt="error-image">
                </div> 
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}